---
const year = new Date().getFullYear();
---
<footer class="bg-blue-950 text-white py-6 mt-8 relative w-full">
  <div class="container mx-auto px-4 text-center">
    <p class="text-sm">
      &copy; {year} <a href="https://jimcostdev.com" target="_blank" class="underline hover:text-gray-300">jimcostdev.com</a>. Todos los derechos reservados.
    </p>
  </div>
</footer>

