---
import "@styles/global.css";
import Footer from "@components/Footer.astro";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Picas y Fijas </title>
		<meta name="description" content="Juego de Picas y Fijas - Adivina el número secreto" />
	</head>
	<body class="min-h-screen flex flex-col">
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
</style>